@charset "utf-8";
.imgWrap img {
	width: 100%;
	height: 300px;	
}
.datec {
	height: 100%;
	width: 100%;
	padding:5% 0;
	/* background-color: pink; */
}
.datec ul li{
	display: flex;
	height: 100px;
	border-bottom: 1px solid black;
	align-items: center;
}
.datec ul li .left {
	margin-right: 4%;
	min-width: 80px;
}
.datec ul li .right {
	display: flex;
	align-items: center;
}
.datec ul li .right img {
	width: 20px;
	height: 20px;

}
.datec ul li .right p {
	margin-left: 10px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
/* ===================================================================
//CSS information

// file name  :  home.css
// style info :  スタイル指定
=================================================================== */
#kvWrap {
	position: relative;
	background: #ccc;
	height: calc(100vh - 118px);
	overflow: hidden;
}
#kvWrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: rgba(0,0,0,.1);
}
.mobile #kvWrap::after {
	background: rgba(0,0,0,.3);
}
#kvWrap h2 {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 10;
	text-align: center;
	padding: 0 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#topVideo {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
	-webkit-transform: translate(-50%,-0);
	transform: translate(-50%,0);
}
#topVideoMobile {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#movieImg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: url(../../../img/pages/home/videoImg.gif) 50% 50% no-repeat;
	background-size: cover;
}

#cautionWrap + #selectWrap {
	margin-top: 0;
}
#selectWrap {
	position: relative;
	margin-top: -50px;
	z-index: 10;
}
#selectArea {
	position: relative;
    background: #a9894a;
    color: #fff !important;
    z-index: 10;
}
#selectNav {
	text-align: center;
}
#selectNav li {
	position: relative;
	display: inline-block;
	color: #f5efe2;
	line-height: 50px;
	height: 50px;
	padding: 0 20px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
#selectNav li::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: #fff;
	-webkit-transform: scale(0, 1);
	-webkit-transform-origin: center top;
	-webkit-transition: transform .3s;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform .3s;
}
#selectNav li:hover {
	color: #fff;
}
#selectNav li:hover::after {
	-webkit-transform-origin: center top;
	-webkit-transform: scale(1, 1);
	transform-origin: center top;
	transform: scale(1, 1);
}
#selectNav li.is_current {
	color: #fff;
	font-weight: 500;
}
#selectNav li.is_current::after {
	-webkit-transform-origin: center top;
	-webkit-transform: scale(1, 1);
	transform-origin: center top;
	transform: scale(1, 1);
}

#selectBoxes .selectBox {
	display: none;
}
#selectBoxes .selectBox.is_active,
#selectBoxes .selectBox:nth-of-type(1) {
	display: block;
}
#selectBoxes a,
#selectBoxes a > i {
	color: #fff;
}
#selectBoxes ul {
	padding: 20px 0;
}
#selectBoxes ul li {
	display: inline-block;
	width: 25%;
	padding: 0 20px;
}
#selectBoxes ul li a {
	color: #f5efe2;
	display: block;
	line-height: 40px;
	height: 40px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
#selectBoxes ul li a > i {
	color: #f5efe2;
}
#selectBoxes ul li a:hover {
	color: #fff;
}
#selectBoxes ul li a:hover > i {
	color: #fff;
}
#selectBoxes ul li a > span {
	position: relative;
	display: inline-block;
	color: #f5efe2;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
#selectBoxes ul li a > span::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: #fff;
	-webkit-transform: scale(0, 1);
	-webkit-transform-origin: center top;
	-webkit-transition: transform .3s;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: transform .3s;
}
#selectBoxes ul li a:hover > span {
	color: #fff;
}
#selectBoxes ul li a:hover > span::after {
	-webkit-transform-origin: center top;
	-webkit-transform: scale(1, 1);
	transform-origin: center top;
	transform: scale(1, 1);
}

#selectBoxes .slelectPageLink {
	display: block;
	color: #f5efe2;
	text-align: center;
	line-height: 60px;
	height: 60px;
	padding: 0 1em;
	border-top: #f2f2f2 solid 1px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
#selectBoxes .slelectPageLink:hover {
	background: #fff;
	color: #a9894a;
}
#selectBoxes  .slelectPageLink:hover > i {
	color: #a9894a;
}

#newsWrap h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 2em;
}

#linksWrap a {
	position: relative;
	display: block;
	background: #fff;
	text-align: center;
	height: 250px;
	margin-bottom: 30px;
}
#linksWrap a.recruitBtn > div {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
}
#linksWrap a.recruitBtn > div:nth-of-type(2) {
	background: 50% 50% no-repeat;
	background-size: cover;
	background-image: url(../images/categoryImg01.jpg);
}
#linksWrap a.hdBtn {
	height: 110px;
}
#linksWrap a span.linksText {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#linksWrap a.outlink span.linksText {
	-webkit-transform: translateY(-80%);
	transform: translateY(-80%);
}
#linksWrap a span > span {
	display: block;
	margin-bottom: 15px;
}
#linksWrap a i {
	color: #a9894a;
}
#linksWrap a.outlink span {
    padding-right: 0;
}
#linksWrap a.outlink span::before {
    position: absolute;
    top: 200%;
	left: 50%;
    width: 10px;
    height: 6px;
    background: #a9894a;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
#linksWrap a.outlink span::after {
    position: absolute;
    top: 200%;
	left: 50%;
    width: 10px;
    height: 6px;
    border: #a9894a solid 1px;
    border-width: 0 0 1px 1px;
	-webkit-transform: translateX(-70%) translateY(30%);
	transform: translateX(-70%) translateY(30%);
}

#bizSelectWrap {
	text-align: center;
}
#bizSelectWrap.articleWrap {
	margin-top: -50px;
	padding-top: 0;
    position: relative;
    z-index: 10;
}
#bizSelectWrap > .row {
	margin-left: 0;
	margin-right: 0;
}
#bizSelectWrap .bizSelectItem {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
	background: rgba(169,137,74,.9);
	color: #fff;
	margin: 1px;
	width: calc(100% - 2px);
	height: calc(100vw * .45);
}
#bizSelectWrap .bizSelectItem .bizSelectDetails {
	width: 100%;
}
#bizSelectWrap .bizSelectItem p {
	line-height: 1.4;
	margin-bottom: 10px;
}

@media only screen and (max-width: 1239px) {
#selectBoxes ul li {
	width: 33.333333%;
}
}
@media only screen and (max-width: 1050px) {
#kvWrap {
	height: calc(100vh - 78px);
}
}
@media only screen and (max-width: 991px) {
#selectBoxes ul li {
	width: 50%;
}
.newsArea {
	margin-bottom: 30px;
}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 767px) {
#kvWrap {
	height: 80vh;
}
#linksWrap a.recruitBtn > div {
	width: 100%;
	height: 35%;
}
#linksWrap a.recruitBtn > div:nth-of-type(2) {
	height: 65%;
}
#linksWrap a.groupBtn {
	height: 110px;
}
#newsWrap h3 {
	margin-bottom: 1em;
}
}
@media only screen and (max-width: 679px) {
}
@media only screen and (max-width: 479px) {
}
@media only screen and (max-width: 320px) {
}

.omimaiText {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	z-index: 10;
	background: #fff;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	max-width: 1170px;
	margin: auto;
	text-align: center;
	padding: 1em;
	width: 100%;
}
@media screen and (max-width: 1239px) {
.omimaiText {
	max-width: 1050px;
}
}
@media screen and (max-width: 1099px) {
.omimaiText {
	max-width: 915px;
	text-align: left;
}
}
@media screen and (max-width: 991px) {
.omimaiText {
	max-width: 680px;
}
}
@media screen and (max-width: 767px) {
.omimaiText {
	width: calc(100% - 32px);
	bottom: 51px;
}
}